*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

/* Login */
.loginPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.loginPage header{
    padding: 2%;
    font-size: 24px;
}

.loginPage footer{
    padding: 1.5%;
}

.login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPage h1{
    font-size: 60px;
    padding-top: 2%;
    text-shadow: shadow1, shadow2, shadow3;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

.login form{
    width: 28%;
    padding: 2% 0% 4% 0%;
}

.login fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    padding: 10%;
}

.login p{
    margin: 0%;
}

.info{
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.info label{
    font-weight: 600;
    padding: 2%;
}

.info input{
    padding: 3%;
}

.checkbox{
    width: 70%;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.reg{
    display: flex;
    column-gap: 10px;
}

.error{
    color: red;
}

.noshow{
    display: none;
}
.show{
    display: block;
}

/* Register */
.register{
    width: 100%;
    display: flex;
    justify-content: center;
}

.register form{
    width: 40%;
}

.register fieldset{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.register legend{
    font-size: 46px;
    font-weight: 600;
    text-align: center;
}
.register p{
    text-align: center;
}

.registerInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.registerInfo div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerInfo label{
    font-weight: 600;
    padding: 1.5%;
    width: 65%;
    margin: 0%;
}

.registerInfo input{
    padding: 1%;
    width: 65%;
}

.registerBtn{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding-top: 5%;
}

.registerBtn a{
    text-decoration: none;
    color: white;
}